:root{ 
    --color-fondo-Titulo: rgb(169, 10, 10);
    --color-fondo: rgb(199, 199, 184);
    --letraTitulos:'Montserrat', sans-serif;
}

* {
    margin: 0px; /*margin establece el margen para los cuatro lados*/
    padding: 0px; /*padding establece el espacio de relleno*/
    font-family: var(--letraTitulos);
    background-color: var(--color-fondo);
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo-Titulo);
    color: white;
    height: 150px;
    transform: translateY(100px);
    animation: slideup 1s ease-out forwards;
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /*Espacio entre enlaces*/
    padding: 15px;
}

header a {
    color: #140f0f;
    font-weight: bold;
    padding: 8px 18px; /* espacio entre el borde del botón y el texto (8px arriba y abajo)(18px a los lados) */
    border-radius: 20px; /* redondeado estilo píldora */
    transition: all 0.3s ease; /* animación suave */
}

/* Estilo al pasar el mouse */
header a:hover{
    background-color: var(--color-fondo-Titulo); 
    color: white;
}

.logo img {
    width: 90px;
    height: auto;
    background: transparent; /*fondo de la imagen transparente*/ 
}

.logo:hover{
    background-color: transparent; 
}

.galeria {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    gap: 40px;             /* Espacio entre imágenes */
}

.galeria img {
    height: 400px;
    width: 600px;
    padding-left: 80px;
    transition: all 0.3s ease;
}
.galeria img:hover{
    transform: scale(1.1); /*zoom a la imagen*/
}

form .form-group {
  text-align: justify;
  padding-left: 20px;
  margin-bottom: 15px;
  position: relative;
}

input, select {
  width: 30%;
  margin-top: 15px;
}

#genero {
  display: flex;
  gap: 10px;
  align-items: center;
}
#genero label {
  display: flex;
  align-items: center;
  gap: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}